h1 {
    @include font-styles(3.4rem, $header-font, 64px, 0.8px);
    font-weight: lighter;
}

h2 {
    @include font-styles(1.65rem, $secondary-font, 58px, 2.1px);
}

h3 {
    @include font-styles(1rem, $secondary-font, 58px, 2.1px);
}

p {
    @include font-styles(1rem, $main-font, 32px, 2px, none);
}

.logo p {
    @include font-styles(1.1rem, $secondary-font, 24px, 1.2px);
}

.button,
button {
    @include font-styles(1rem, $secondary-font, 32px, 2px, uppercase, $lightest);
    text-align: center;
    background-color: $sec-accent;
    text-decoration: none;
    padding: 10px 15px 5px 15px;
    margin: 10px;
}

button:focus ,
button:hover,
.button:focus,
.button:hover {
    background-color: $lightest;
    color: $sec-accent;
}

footer {
    background-color: $primary;
    p {
        color: $lightest;
        text-align: center;
        margin: 0;
        padding: 10px;
    }
}