// nav styles
.flex-cont-nav1 {
    display: flex;
    justify-content: space-between;
}

.flex-cont-nav {
    display: flex;
    align-items: center;
}

.ham-nav {
    display: none;
    position: absolute;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        padding: 10px 25px;
        a {
            @include font-styles (1rem, $main-font, 29px, 1.4px);
            text-decoration: none;
            font-weight: 700;
        }
        a:hover {
            border-bottom: solid $accent 2px;
        }
    }
}

// header on index
header.index {
    @include header-background("../assets/header-home.jpg", top, 90vh, "100% 80%");
}

header {
    span {
        display: block;
    }
    h1 {
        margin-left: 20%;
    }
}

// header on blog
header.blog {
    @include header-background ("../assets/blog-image.jpg");
    background-color: $light2;
}

.blog h1,
.contact h1 {
    margin: 10% 0;
}

.logo {
    padding-left: 0;
}

// header on contact

header.contact {
    @include header-background ("../assets/contact-image.jpg")
}
