// discovering section styles
.discovering {
    background-color: $lightest;
}

.flex-cont-disc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 150px 0;
    .text-cont-disc{
        width: 70%;
        p {
            margin-bottom: 40px;
        }
    }
    .image-cont-disc {
        width: 25%;
        img{
            box-shadow: -15px 15px $accent;
        }
    }
}

// image-section styles
.image-section {
    background-color: $light2;
}

.flex-cont-img {
    display: flex;
    justify-content: space-between;
    .image-cont-img {
        width: 30%;
        margin: 100px 0;
    }
}

// about-us styles
// tried with gird but prefer flex leaving here for now
// .about-us ul {
//     list-style: none;
//     padding: 0;
//     margin: 40px 0 40px 70px;
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     gap: 30px 70px;
//     li {
//         position: relative;
//         span {
//             position: absolute;
//             background-color: $accent;
//             padding: 15px;
//             border-radius: 50%;
//             line-height: 1rem;
//             left: -85px;
//             top: 20px;
//         }
//     }
// }
.about-us {
    margin-bottom: 100px;
}

.about-us ul {
    list-style: none;
    padding: 0;
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        position: relative;
        width: 40%;
        margin-left: 70px;
        span {
            position: absolute;
            background-color: $accent;
            padding: 15px;
            border-radius: 50%;
            line-height: 1rem;
            left: -85px;
            top: 20px;
        }
    }
}

// more-info styles
.more-info {
    background-color: $light2;
    .button {
        margin: 0;
    }
}

.flex-cont-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 10%;
}

.img-cont-info1 img {
    box-shadow: 20px 20px $accent;
    position: relative;
    bottom: 50px;
}

.img-cont-info2 {
    img {
        box-shadow: -20px 20px $accent;
        position: relative;
        top: 50px;
        right: -6px;
    }
}

.img-cont-info3 {
    grid-area: 3 / 1 / 4 / 3;
}

.text-cont-info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
}

.text-cont-info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 25%;
    h2,
    p {
        text-align: right;
    }
}

// search section styles

.search {
    padding: 150px 15%;
    text-align: center;
    p {
        text-align: left;
        margin-bottom: 40px;
    }
}