// variables
$header-font : font-family: 'Kumar One Outline', 'cursive';
$secondary-font: font-family: 'Kumar One', 'cursive';
$main-font: font-family: 'Lato', sans-serif;

$accent: #F8FB05;
$button: #065635;
$background: #F5F5F5;
$secondary-bkg: #E0FDDF;
$primary: #151514;


// mixins


// imports
@import "normalize";
