// variables
$header-font: 'Kumar One Outline', 'cursive';
$secondary-font: 'Kumar One', 'cursive';
$main-font: 'Lato', sans-serif;

$accent: #F8FB05;
$sec-accent: #065635;
$lightest: #F5F5F5;
$light2: #E0FDDF;
$primary: #151514;


// mixins
@mixin font-styles ($size, $font, $height, $space, $transform: uppercase, $color: $primary) {
    font-size: $size;
    font-family: $font;
    line-height: $height;
    letter-spacing: $space;
    text-transform: $transform;
    color: $color;
}

// imports
@import "normalize";
@import "font-styles";
@import "headers";