// variables
$header-font: 'Kumar One Outline', 'cursive';
$secondary-font: 'Kumar One', 'cursive';
$main-font: 'Lato', sans-serif;

$accent: #F8FB05;
$sec-accent: #065635;
$lightest: #F5F5F5;
$light2: #E0FDDF;
$primary: #151514;


// mixins
@mixin font-styles ($size, $font, $height, $space, $transform: uppercase, $color: $primary) {
    font-size: $size;
    font-family: $font;
    line-height: $height;
    letter-spacing: $space;
    text-transform: $transform;
    color: $color;
}

@mixin header-background ($location, $position:center, $head-height:50vh, $img-size:cover, $bkgcolor: $lightest) {
    background: url($location);
    background-position: $position;
    min-height: $head-height;
    background-size: $img-size;
    background-color: $bkgcolor;
    background-repeat: no-repeat;
}

// imports
@import "normalize";
@import "basic-styles";
@import "headers";
@import "forms";

@import "index";
@import "contact";