html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1500px;
  width: 80%;
  margin: 0 auto;
}

html {
  font-size: 125%;
}

img {
  max-width: 100%;
  display: block;
}

header,
main {
  max-width: 1500px;
  margin: 0 auto;
}

body {
  background-color: #151514;
}

h1 {
  font-size: 3.4rem;
  font-family: "Kumar One Outline", "cursive";
  line-height: 64px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #151514;
  font-weight: lighter;
}

h2 {
  font-size: 1.65rem;
  font-family: "Kumar One", "cursive";
  line-height: 58px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: #151514;
}

h3 {
  font-size: 1rem;
  font-family: "Kumar One", "cursive";
  line-height: 58px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: #151514;
}

p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: none;
  color: #151514;
}

.logo p {
  font-size: 1.1rem;
  font-family: "Kumar One", "cursive";
  line-height: 24px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #151514;
}

.button,
button {
  font-size: 1rem;
  font-family: "Kumar One", "cursive";
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F5F5F5;
  text-align: center;
  background-color: #065635;
  text-decoration: none;
  padding: 10px 15px 5px 15px;
  margin: 10px;
}

button:focus,
button:hover,
.button:focus,
.button:hover {
  background-color: #F5F5F5;
  color: #065635;
}

footer {
  background-color: #151514;
}
footer p {
  color: #F5F5F5;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.flex-cont-nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-cont-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ham-nav {
  display: none;
  position: absolute;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header ul li {
  padding: 10px 15px;
}
header ul li a {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 29px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #151514;
  text-decoration: none;
  font-weight: 700;
}
header ul li a i {
  font-size: 2rem;
}
header ul li a:hover,
header ul li a:focus {
  border-bottom: solid #F8FB05 2px;
}

header.index {
  background: url("../assets/header-home.jpg");
  background-position: top;
  min-height: 50vh;
  background-size: cover;
  background-color: #F5F5F5;
  background-repeat: no-repeat;
}
header.index .image-cont-head {
  max-width: 50%;
}

header span {
  display: block;
}
header h1 {
  margin-left: 15%;
}

.blog header {
  background: url("../assets/blog-image.jpg");
  background-position: center;
  min-height: 50vh;
  background-size: cover;
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-color: #E0FDDF;
}

.blog h1,
.contact h1 {
  margin: 5% 0;
}

.logo {
  padding-left: 0;
  padding-right: 0;
}

.contact header {
  background: url("../assets/contact-image.jpg");
  background-position: center;
  min-height: 50vh;
  background-size: cover;
  background-color: #F5F5F5;
  background-repeat: no-repeat;
}

input {
  border: 0;
  border-bottom: #151514 1px solid;
  padding: 15px;
  margin-bottom: 30px;
  width: 45%;
}

input::-webkit-input-placeholder {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
}

input::-moz-placeholder {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
}

input:-ms-input-placeholder {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
}

input::-ms-input-placeholder {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
}

input::placeholder {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
}

textarea {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #151514;
  border: #151514 1px solid;
  width: 100%;
  height: 200px;
  padding: 15px;
}

button {
  width: 100%;
  border: 0;
  margin: 0;
  margin-top: 30px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.contact form {
  background-color: #F5F5F5;
  -webkit-box-shadow: 20px 20px #F8FB05;
          box-shadow: 20px 20px #F8FB05;
  width: 100%;
}
.contact form input,
.contact form textarea {
  background-color: #F5F5F5;
}

.blog form {
  background-color: #E0FDDF;
  width: 100%;
  padding: 0 0 100px 0;
}
.blog form input,
.blog form textarea {
  background-color: #E0FDDF;
}

main {
  background-color: #E0FDDF;
}

.flex-cont-blog1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-cont-blog1 .cont-blog1 {
  width: 65%;
  background-color: #F5F5F5;
  border-right: 10px solid #F8FB05;
  border-bottom: 10px solid #F8FB05;
}
.flex-cont-blog1 .cont-blog1 .img-cont-blog1 img {
  position: relative;
  left: -10px;
  top: -100px;
  -webkit-box-shadow: 20px 20px #F8FB05;
          box-shadow: 20px 20px #F8FB05;
  border-left: #151514 10px solid;
}
.flex-cont-blog1 .cont-blog1 .text-cont-blog1 {
  margin-left: 10vw;
  padding-right: 30px;
}
.flex-cont-blog1 .cont-mission {
  width: 25%;
  background-color: #F8FB05;
}
.flex-cont-blog1 .cont-mission img {
  position: relative;
  left: 20px;
  bottom: 20px;
  border-right: #151514 solid 20px;
}
.flex-cont-blog1 .cont-mission .text-cont-blog2 {
  padding-left: 20px;
}

.blog-wrapper {
  margin-left: 10%;
  margin-right: 35%;
}

.blogs {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.blogs h3 {
  margin-top: 0;
  font-size: 0.8rem;
  line-height: 24px;
}
.blogs p {
  padding-bottom: 50px;
}

.discovering {
  background-color: #F5F5F5;
}

.flex-cont-disc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 0 150px 0;
}
.flex-cont-disc .text-cont-disc {
  width: 70%;
}
.flex-cont-disc .text-cont-disc p {
  margin-bottom: 40px;
}
.flex-cont-disc .image-cont-disc {
  width: 25%;
}
.flex-cont-disc .image-cont-disc img {
  -webkit-box-shadow: -15px 15px #F8FB05;
          box-shadow: -15px 15px #F8FB05;
}

.image-section {
  background-color: #E0FDDF;
}

.flex-cont-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-cont-img .image-cont-img {
  width: 30%;
  margin: 100px 0;
}

.about-us {
  background-color: #F5F5F5;
  margin-bottom: 100px;
}

.about-us ul {
  list-style: none;
  padding: 0;
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-us ul li {
  position: relative;
  width: 40%;
  margin-left: 70px;
}
.about-us ul li span {
  position: absolute;
  background-color: #F8FB05;
  border-radius: 50%;
  left: -85px;
  top: 20px;
  display: block;
  height: 60px;
  width: 60px;
}
.about-us ul li span i {
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.more-info {
  background-color: #E0FDDF;
}
.more-info .button {
  margin: 0;
}

.flex-cont-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 10%;
}

.img-cont-info1 img {
  -webkit-box-shadow: 20px 20px #F8FB05;
          box-shadow: 20px 20px #F8FB05;
  position: relative;
  bottom: 50px;
}

.img-cont-info2 img {
  -webkit-box-shadow: -20px 20px #F8FB05;
          box-shadow: -20px 20px #F8FB05;
  position: relative;
  top: 50px;
  right: -6px;
}

.img-cont-info3 {
  grid-area: 3/1/4/3;
}

.text-cont-info1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 75%;
}

.text-cont-info2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 25%;
}
.text-cont-info2 h2,
.text-cont-info2 p {
  text-align: right;
}

.search {
  background-color: #F5F5F5;
  padding: 150px 15%;
  text-align: center;
}
.search p {
  text-align: left;
  margin-bottom: 40px;
}

body.contact {
  background-color: #151514;
}
body.contact main {
  background-color: #E0FDDF;
}

.flex-cont-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex-cont-main form {
  position: relative;
  top: -100px;
}

.form {
  width: 60%;
}
.form input {
  min-width: 210px;
}

.flex-cont-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.flex-cont-socials li {
  padding: 5px;
}
.flex-cont-socials li a {
  ext-decoration: none;
  color: #065635;
}

.cont-info3 {
  width: 25%;
  -ms-flex-item-align: center;
      align-self: center;
  min-width: 220px;
  margin-left: 40px;
}
.cont-info3 p {
  margin: 0;
}
.cont-info3 p:nth-of-type(1) {
  margin: 10px 0;
}

@media (max-width: 1000px) {
  header.index {
    min-height: 400px;
  }

  .index h1 {
    margin: 20px 0 0 10%;
    font-size: 1.7rem;
  }

  .image-cont-head {
    display: none;
  }

  .image-cont-disc {
    display: none;
  }

  .flex-cont-disc {
    display: block;
    padding: 10px 0 20px 0;
  }
  .flex-cont-disc .text-cont-disc {
    width: 100%;
    text-align: center;
  }

  .flex-cont-img .image1,
.flex-cont-img .image2 {
    width: 45%;
  }
  .flex-cont-img .image3 {
    display: none;
  }

  .about-us ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us ul li {
    width: 75%;
  }

  .about-us {
    margin-bottom: 50px;
  }

  .flex-cont-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .img-cont-info1 img,
.img-cont-info2 img {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0 auto;
  }

  .img-cont-info2 {
    margin-bottom: 50px;
  }

  .img-cont-info3 {
    display: none;
  }

  .text-cont-info1,
.text-cont-info2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 10px auto;
  }
  .text-cont-info1 h2,
.text-cont-info2 h2 {
    text-align: center;
    margin-bottom: 0;
  }
  .text-cont-info1 p,
.text-cont-info2 p {
    text-align: center;
    margin-top: 0;
  }

  .search {
    padding: 50px 5%;
    margin: 0 auto;
  }
  .search p {
    text-align: center;
  }

  input {
    width: 100%;
  }
}
@media (max-width: 775px) {
  .flex-cont-main .form,
.cont-info3 {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .flex-cont-main .form ul,
.cont-info3 ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flex-cont-main .form ul li,
.cont-info3 ul li {
    padding: 0 10px;
  }
}
@media (max-width: 700px) {
  .flex-cont-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }

  .ham-nav {
    display: block;
    top: 15px;
    right: 15px;
  }

  .flex-cont-nav1:hover .flex-cont-nav,
.flex-cont-nav1:focus-within .flex-cont-nav {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #F8FB05;
    border-radius: 10px;
  }
  .flex-cont-nav1:hover .flex-cont-nav a:hover,
.flex-cont-nav1:hover .flex-cont-nav a:focus,
.flex-cont-nav1:focus-within .flex-cont-nav a:hover,
.flex-cont-nav1:focus-within .flex-cont-nav a:focus {
    border-bottom: solid #151514 2px;
  }

  .flex-cont-img .image1 {
    width: 100%;
  }
  .flex-cont-img .image1 img {
    width: 100%;
  }
  .flex-cont-img .image2 {
    display: none;
  }

  .about-us span {
    display: none;
  }

  .about-us ul li {
    width: 90%;
    margin: 0 auto;
  }
  .about-us ul li h2,
.about-us ul li p {
    text-align: center;
  }

  .flex-cont-blog1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .flex-cont-blog1 .cont-blog1 .img-cont-blog1 img {
    border: none;
  }

  .img-cont-blog2 {
    display: none;
  }

  .flex-cont-blog1 .cont-mission {
    width: 90%;
  }

  .flex-cont-blog1 .cont-blog1 {
    width: 90%;
  }

  .blog-wrapper {
    margin: 0 auto;
    width: 90%;
  }

  .blogs {
    grid-template-columns: 1fr;
  }
  .blogs img {
    display: none;
  }
}